@font-face { font-family: Noto Sans; src: url('Noto Sans Medium Nerd Font Complete.ttf'); }
*{
    --main: steelblue;
    --main2: whitesmoke;
    --bg: gainsboro;
    --font: 'Noto Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	font-family: var(--font);
	background-color: transparent;
}
body{
	background-color:var(--bg);
    justify-content:center;
}
