.Login{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
    font-size: 1.4em;
    height:90vh;
}

.vdiv{
    border-left: 2px solid var(--main);
    height: 400px;
}

.sign{
    height: 550px;
    width: 500px;
    background-color:var(--main2);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:4px;
    margin: 20px 0px;
}
